body{
    background: lightyellow;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-around; 
    list-style: none;
    background: red;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid peru;
    background: #aeffc5;
}
.flash.error{
    border: 1px solid #ff4343;
    background: #ff9c9c;
}
.menu a{
    font-weight: bold;
    text-decoration: none;
    color: silver;
}
p>a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li>p, li div{
    padding: 10px 20px;
    margin: 0;
    border: 1px solid gray;
}
p.title{
    color: white;
    background: blue;
}
h1{
    color: blue;
    text-align: center;
}
div input{
    position: relative;
    background: blue;
    color: white;
}
ul .title .prise .annonce input{
    border: 1px solid gray;
    border-radius: 10px;
}
