<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Информация о программе</h1>
    <p>Эта программа максимальна проста в использованиии!!!<br>
        1: Выбрать количество символов которое будет содержаться в вашем пароле от 6 до 14.<br>
        2: Выбрать какаими символами будет наполнен ваш пароль, если оставить эти поля без галочек то пароль будет содержать только латинские буквы в нижнем регистре.<br>
        3: И третьим шагом будет нажать кнопку "Сгенерировать пароль" после чего вы увидете его на экране.<br></p>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</body>
</html>